:host {
    --left-color: var(--text-color);
    --right-color: var(--text-color);
}

input[type="checkbox"] {
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

label:has(+ span input:not(:checked)) {
    color: var(--left-color);
}

.switch:has(*:checked) + label {
    color: var(--right-color);
}

.switch:has(*:checked) {
    --slider-color: var(--right-color);
}

.switch {
    --slider-color: var(--left-color);
    --transition-time: 0.125s;
    width: 3rem;
    height: 1.5rem;
    display: inline-block;
    background-color: var(--slider-color);
    padding: 0;
    text-align: left;
    position: relative;
    padding: 0.25rem;
    border-radius: 25px;
    transition: var(--transition-time);
}

.slider-dot {
    width: 100%;
    background-color: transparent;
}

.slider-dot:before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    appearance: none;
    opacity: 1;
    transition: var(--transition-time);
    vertical-align: top;
    display: inline-block;
}

.slider-dot:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked + .slider-dot:before {
    transform: translateX(1.5rem);
    transition: var(--transition-time);
}

.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mutant-right {
    --right-color: var(--mutation-color);
}

.mutant-left {
    --left-color: var(--mutation-color);
}

.cybernetic-right {
    --right-color: var(--cybernetic-color);
}

.cybernetic-left {
    --left-color: var(--cybernetic-color);
}

.stat-right {
    --right-color: var(--stat-color);
}

.stat-left {
    --left-color: var(--stat-color);
}

.skill-right {
    --right-color: var(--skills-color);
}

.skill-left {
    --left-color: var(--skills-color);
}

.strength-right {
    --right-color: var(--strength-color);
}

.strength-left {
    --left-color: var(--strength-color);
}

.toughness-right {
    --right-color: var(--toughness-color);
}

.toughness-left {
    --left-color: var(--toughness-color);
}

.agility-right {
    --right-color: var(--agility-color);
}

.agility-left {
    --left-color: var(--agility-color);
}

.willpower-right {
    --right-color: var(--willpower-color);
}

.willpower-left {
    --left-color: var(--willpower-color);
}

.intelligence-right {
    --right-color: var(--intelligence-color);
}

.intelligence-left {
    --left-color: var(--intelligence-color);
}

.ego-right {
    --right-color: var(--ego-color);
}

.ego-left {
    --left-color: var(--ego-color);
}
