

@keyframes bounce {
    0% {
        transform:translateX(0);
    }
    20% {
        transform: translateX(-.25rem);
    }
    40% {
        transform: translateX(0);
    }
}

@keyframes collapseTop {
    0% {
        transform: rotate(0);
        left: calc(var(--hamburger-size) * -0.25);
    }
    50% {
        transform: rotate(0);
        left: calc(var(--hamburger-line-weight) * 2);
    }
    100% {
        transform: rotate(45deg);
        left: calc(var(--hamburger-line-weight) * 2);
    }
}

@keyframes collapseBottom {
    0% {
        transform: rotate(0);
        left: calc(var(--hamburger-size) * .75 - var(--hamburger-line-weight));
    }
    50% {
        transform: rotate(0);
        left: calc(var(--hamburger-line-weight) * 2);
    }
    100% {
        transform: rotate(-45deg);
        left: calc(var(--hamburger-line-weight) * 2);
    }
}

@keyframes collapseMiddle {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes expandTop {
    0% {
        transform: rotate(0);
        left: calc(var(--hamburger-size) * -0.25);
    }
    50% {
        transform: rotate(0);
        left: calc(var(--hamburger-line-weight) * 2);
    }
    100% {
        transform: rotate(45deg);
        left: calc(var(--hamburger-line-weight) * 2);
    }
}

@keyframes expandBottom {
    0% {
        transform: rotate(0);
        left: calc(var(--hamburger-size) * .75 - var(--hamburger-line-weight));
    }
    50% {
        transform: rotate(0);
        left: calc(var(--hamburger-line-weight) * 2);
    }
    100% {
        transform: rotate(-45deg);
        left: calc(var(--hamburger-line-weight) * 2);
    }
}

@keyframes expandMiddle {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

:host {
    --hamburger-size: 1.25rem;
    --hamburger-line-weight: 2px;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    border-bottom: 3px solid var(--text-color-faded);
    background-color: var(--bg-color-dark);
    height: calc(var(--heading-height) - 3px);
    padding: 0 var(--desktop-margin-size);
    z-index: 1;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-color: var(--qudzoo-color);
    margin: 0;
}

.logo {
    display: block;
}

.logo a {
    color: var(--qudzoo-color);
    font-weight: bold;
}

.logo a:hover {
    text-decoration: none;
}

.site-name {
    font-size: 2rem;
    font-family: var(--qud-font);
    margin: 0;
    display: block;
}

.links {
    padding-top: 2px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.dot-divider {
    width: .25rem;
    height: .25rem;
    background-color: var(--text-color);
    border-radius: 100%;
    display: inline-block;
}

.hamburger-items {
    position: absolute;
    width: calc(100vw - var(--mobile-margin-size) * 2 + 20px);
    right: calc(var(--mobile-margin-size) - 10px);
    top: calc(2rem - 10px);
    background: var(--bg-color-dark);
    list-style-type: none;
    overflow: hidden;
    max-height: 0;
    transition:.5s;
}

.hamburger-menu[status="open"]+.hamburger-items {
    max-height: 33vh;
    transition: .5s;
}

.hamburger-item-container {
    padding: 0 calc(10px + 2rem) 0 1rem;
    border: 1px solid var(--qudzoo-color);
    font-family: var(--qud-font);
    background-image: var(--scanlines-image)
}

.hamburger-item-container a,.hamburger-item-container p {
    display: block;
    padding: 1rem 0;
    margin: 0;
}

.hamburger-item-container a:hover {
    background-color: var(--hover-darken);
}

.hamburger-menu {
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    border: 0;
    background: 0;
    transform: rotate(90deg);

    z-index: 1;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-menu div {
    width: var(--hamburger-line-weight);
    height: var(--hamburger-size);
    background-color: var(--text-color);
    transition: background-color 0.5s;
}

.hamburger-menu[status="open"] div {
    background-color: var(--qudzoo-color);
    transition: background-color 0.5s;
}

.hamburger-menu[status="open"] .line1 {
    animation: .5s ease both collapseTop;
}
.hamburger-menu[status="open"] .line2 {
    animation: .5s ease both collapseMiddle;
}
.hamburger-menu[status="open"] .line3 {
    animation: .5s ease both collapseBottom;
}

.hamburger-menu[status="closed"] .line1 {
    animation: .5s ease both expandTop;
    animation-direction: reverse;
}
.hamburger-menu[status="closed"] .line2 {
    animation: .5s ease both expandMiddle;
    animation-direction: reverse;
}
.hamburger-menu[status="closed"] .line3 {
    animation: .5s ease both expandBottom;
    animation-direction: reverse;
}

.line1 {
    position: relative;
    left: calc(var(--hamburger-size) * -0.25);
}

.line2 {
    position: relative;
    left: calc(var(--hamburger-size) * 0.25 - var(--hamburger-line-weight) * 0.5);
    top: calc(var(--hamburger-size) * -1);
}

.line3 {
    position: relative;
    left: calc(var(--hamburger-size) * .75 - var(--hamburger-line-weight));
    top: calc(var(--hamburger-size) * -2);
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 var(--mobile-margin-size);
        justify-content: space-between;
    }
}