@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
    --qud-font: "Source Code Pro","Open Sans","Segoe UI","Consolas","Lucida Console","Courier New","Courier";
    --bg-color: radial-gradient(rgba(5, 41, 41, 0.902),rgba(8, 14, 14, 0.902));
    --bg-color-dark: #052929;
    --hover-darken: rgba(8,14,14, 0.3);
    --text-color: white;
    --text-color-inverted: black;
    --text-color-light: rgba(255, 255, 255, 0.75);
    --text-color-faded: rgba(255,255,255, 0.5);
    --text-color-dark: rgba(191,191,191, 1);
    --anchor-unvisited-color: #d3adc1;
    --anchor-visited-color: #c27ba0;
    --star-filled-color: #f6b26b;
    --h2-color: #e06666;
    --h3-color: #f6b26b;
    --h4-color: #b6d7a8;
    --qudzoo-color: #a64a2e;
    --skills-color: #77bfcf;
    --strength-color: rgba(255, 0, 0, 0.671);
    --toughness-color: #d74200;
    --intelligence-color: #0096ff;
    --agility-color: #cfc041;
    --willpower-color: #00c420;
    --ego-color: #da5bd6;
    --mutation-color: #b154cf;
    --cybernetic-color: #0096ff;
    --stat-color: #e99f10;
    --misc-color: #98875f;
    --heading-height: 5rem;
    --desktop-margin-size: 5rem;
    --mobile-margin-size: 1.5rem;
    --scanlines-image: url(
        https://forums.libretro.com/uploads/default/optimized/2X/3/3a57f4a9ca1419203565fd9e8f90cd2d2eb7668a_2_1024x576.png
        );
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    box-shadow: 0;
    background: var(--bg-color);
}
  
::-webkit-scrollbar-track-piece {
    outline: 1px solid var(--text-color-faded);
    outline-offset: -.25rem;
}
   
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-dark);
}

::-webkit-scrollbar-button {
    height: 3px;
    background: var(--text-color);
}

html {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
    scroll-padding-top: var(--heading-height);
}

body {
    margin: 0;
    padding: 0;
}

html::after {
    background-image: var(--scanlines-image);
    content: " ";
    display: block;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: var(--anchor-unvisited-color);
}

a:visited {
    color: var(--anchor-visited-color);
}

code {
    font-family: var(--qud-font);
}

.injected {
    white-space: nowrap;
}

.skill {
    font-family: var(--qud-font);
    color: var(--skills-color);
}

.attribute {
    font-family: var(--qud-font);
}

.strength {
    color: var(--strength-color);
}

.agility {
    color: var(--agility-color);
}

.toughness {
    color: var(--toughness-color);
}

.willpower {
    color: var(--willpower-color);
}

.intelligence {
    color: var(--intelligence-color);
}

.ego {
    color: var(--ego-color);
}

.stat {
    font: var(--qud-font);
    font-weight: bold;
    color: var(--stat-color);
}

.stat::before {
    content: " ";
}

.mutation {
    font-family: var(--qud-font);
    color: var(--mutation-color);
    margin-left: 2px;
}

.defect {
    color: var(--qudzoo-color);
}

.pv::before {
    content: "→ ";
    color: #77bfcf;
}

.inline-icon {
    height: 1em;
    float: none;
    margin: 0;
    padding: 0;
    clear: both;
    display: inline;
    position: relative;
    top: 2px;
    min-width: 13px;
}

.thumb-up {
    fill: var(--willpower-color);
}

.thumb-down {
    fill: var(--qudzoo-color);
}