@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bg-color: radial-gradient(rgba(5,41,41,0.9),rgba(8,14,14,0.9));
    --txt-color: white;
}

html {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: 'Open Sans', sans-serif;
}