@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
    --qud-font: "Source Code Pro","Open Sans","Segoe UI","Consolas","Lucida Console","Courier New","Courier";
    --bg-color: radial-gradient(rgba(5,41,41,0.9),rgba(8,14,14,0.9));
    --hover-darken: rgba(8,14,14, 0.3);
    --text-color: white;
    --text-color-faded: rgba(255,255,255, 0.5);
    --anchor-unvisited-color: #d3adc1;
    --anchor-visited-color: #c27ba0;
}

html {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
}

a {
    color: var(--anchor-unvisited-color);
}

a:visited {
    color: var(--anchor-visited-color);
}