h1 {
    font-style: var(--qud-font);
    color: var(--qudzoo-color);
    font-size: 4rem;
    text-align: center;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 var(--desktop-margin-size);
}

p {
    font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

@media only screen and (max-width: 900px) {
    
    .home-container{
        padding: 0 var(--mobile-margin-size);
    }
}