@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
    --qud-font: "Source Code Pro","Open Sans","Segoe UI","Consolas","Lucida Console","Courier New","Courier";
    --bg-color: radial-gradient(rgba(5,41,41,0.9),rgba(8,14,14,0.9));
    --hover-darken: rgba(8,14,14, 0.3);
    --text-color: white;
    --text-color-light: rgba(255,255,255, 0.75);
    --text-color-faded: rgba(255,255,255, 0.5);
    --anchor-unvisited-color: #d3adc1;
    --anchor-visited-color: #c27ba0;
}

html {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
}

body {
    margin: 0;
}

body::before {
    background-image: url(
        https://static.vecteezy.com/system/resources/previews/004/573/515/large_2x/abstract-background-with-copy-space-for-text-old-tv-scan-line-monitor-for-glitch-overlay-free-photo.JPEG
        );
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: var(--anchor-unvisited-color);
}

a:visited {
    color: var(--anchor-visited-color);
}