a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    padding: 0.5rem 0;
}

p {
    margin: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
}

::marker {
    position: relative;
    left: -20px;
}

.container {
    padding: 1rem 0 0 5rem;
    font-family: var(--qud-font);
}

a:not(.selected):hover {
    color: var(--h3-color);
}

.selected {
    color: var(--h4-color);
}

.selected:hover {
    cursor: default;
}

.indented {
    padding-left: 1.4rem;
}
