a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: .5rem 0;
}

p {
    margin: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
}

.container {
    padding: 1rem 0 0 5rem;
    font-family: var(--qud-font);
}

.normal:hover {
    background-color: var(--hover-darken);
}

.selected {
    color: var(--star-filled-color);
}

.selected::before {
    content: "> ";
}

.selected:hover {
    cursor: default;
}