::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    box-shadow: 0;
}
  
::-webkit-scrollbar-track-piece {
    outline: 1px solid var(--text-color-faded);
    outline-offset: -.25rem;
}
   
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-dark);
}

::-webkit-scrollbar-button {
    height: 3px;
    background: var(--text-color);
}

h2 {
    font-family: var(--qud-font);
    text-align: center;
    font-weight: 400;
    color: var(--stat-color);
}

figure {
    text-align: center;
    font-family: var(--qud-font);
    opacity: .3;
    transition: .25s;
    margin: 0;
}

figure:has(.selected) {
    opacity: 1;
}

figure img {
    max-height: 5rem;
    filter: grayscale(100%);
    padding: 0 1rem;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

figure:hover {
    cursor: pointer;
    color: var(--stat-color);
    opacity: 1;
}

figure:hover img {
    filter: grayscale(0);
    border-left: 1px solid var(--stat-color);
    border-right: 1px solid var(--stat-color);
}

figure .selected {
    filter: grayscale(0);
    border-left: 1px solid var(--stat-color);
    border-right: 1px solid var(--stat-color);
}

.calling-graphic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
}

.starters {
    min-height: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.calling-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}


code {
    font-family: var(--qud-font);
}

.injected {
    white-space: nowrap;
}

.skill {
    font-family: var(--qud-font);
    color: var(--skills-color);
}

.attribute {
    font-family: var(--qud-font);
}

.strength {
    color: var(--strength-color);
}

.agility {
    color: var(--agility-color);
}

.toughness {
    color: var(--toughness-color);
}

.willpower {
    color: var(--willpower-color);
}

.intelligence {
    color: var(--intelligence-color);
}

.ego {
    color: var(--ego-color);
}

.stat {
    font: var(--qud-font);
    font-weight: bold;
    color: var(--stat-color);
}

.stat::before {
    content: " ";
}

.mutation {
    font-family: var(--qud-font);
    color: var(--mutation-color);
    margin-left: 2px;
}

.defect {
    color: var(--qudzoo-color);
}

.pv::before {
    content: "→ ";
    color: #77bfcf;
}

.inline-icon {
    height: 1em;
    float: none;
    margin: 0;
    padding: 0;
    clear: both;
    display: inline;
    position: relative;
    top: 2px;
    min-width: 13px;
}

.thumb-up {
    fill: var(--willpower-color);
}

.thumb-down {
    fill: var(--qudzoo-color);
}

@media only screen and (max-width: 1000px) {
    
    .starters {
        grid-area: "details";
        position: sticky;
        align-self: start;
        top: 0;
        display: block;
        max-width: 100%;
    }

    .starters li, .starters li span {
        word-wrap: break-word;
        white-space: normal;
    }

    .calling-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .container {
        display: grid;
        max-height: 60vh;
        overflow-y: scroll;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media only screen and (max-width: 550px) {
    .calling-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}