::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    box-shadow: 0;
}
  
::-webkit-scrollbar-track-piece {
    outline: 1px solid var(--text-color-faded);
    outline-offset: -.25rem;
}
   
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-dark);
}

::-webkit-scrollbar-button {
    height: 3px;
    background: var(--text-color);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    border-left: 3px solid var(--text-color-faded);
}

p:hover {
    cursor: pointer;
    background-color: var(--hover-darken);
}

h1 {
    font-weight: normal;
    margin: 0 0 .5rem;
}

h1 a {
    color: var(--text-color);
}

h1:hover {
    cursor:pointer;
}

.container {
    font-family: var(--qud-font);
    padding: 1.5rem var(--desktop-margin-size) 0 0;
}

.sections {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    color: var(--h2-color);
    scroll-behavior: smooth;
}

.indented {
    padding-left: 1.4rem;
    color: var(--h3-color);
}

.selected {
    color: var(--h4-color);
    border-left: 3px solid var(--h4-color);
}

.selected::before {
    content: "> ";
}

.to-top {
    padding: .5rem 0 0 0;
    color: var(--text-color-faded);
}

@media only screen and (max-width: 1300px) {

    .sections {
        max-height: calc((100vh - var(--heading-height) )* 0.5);
    }

    .container {
        padding: 1.5rem 0 0 var(--desktop-margin-size);
    }
}