@import "styles/scrollbar";

:host {
    --color-theme: white;
}

h2 {
    font-family: var(--qud-font);
    text-align: center;
    font-weight: 400;
    color: var(--stat-color);
}

h3 {
    color: var(--text-color-faded);
    margin: 0;
}

span {
    color: var(--color-theme);
}

.container {
    padding-top: 0.5rem;
}

.blurb {
    min-height: 7rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.attribute-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
}

.stat-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--text-color-faded);
    color: var(--text-color-faded);
    padding: 0.5rem 1rem;
    min-width: 5ch;
}

.point-cost {
    min-width: calc(2rem + 5ch);
    color: var(--text-color-faded);
    text-align: center;
    align-self: flex-start;
}

.attribute-input {
    display: flex;
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--qud-font);
}

.holder:hover .stat-container {
    border-color: var(--color-theme);
}

.holder:hover h3 {
    color: var(--color-theme);
}

.holder:hover .point-cost {
    color: var(--stat-color);
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5px;
    gap: 0.5rem;
    left: -1rem;
}

.buttons > button {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 0;
    background-color: var(--bg-color-dark);
    color: var(--text-color);
}

.buttons > button:hover {
    border-color: var(--color-theme);
    cursor: pointer;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 0.5rem;
    font-family: var(--qud-font);
}

.options > span:first-child {
    flex-grow: 1;
    min-width: 100%;
    text-align: center;
    color: var(--text-color-faded);
}

.options button {
    width: 20ch;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--text-color-faded);
    color: var(--text-color-faded);
    font-family: var(--qud-font);
}

.options button:hover {
    cursor: pointer;
    background-color: var(--hover-darken);
    color: var(--stat-color);
    border-color: var(--stat-color);
}

.enhanced,
.holder:hover .enhanced {
    color: var(--willpower-color);
}

.reduced,
.holder:hover .reduced {
    color: var(--toughness-color);
}

.strength {
    --color-theme: var(--strength-color);
}

.agility {
    --color-theme: var(--agility-color);
}

.toughness {
    --color-theme: var(--toughness-color);
}

.willpower {
    --color-theme: var(--willpower-color);
}

.intelligence {
    --color-theme: var(--intelligence-color);
}

.ego {
    --color-theme: var(--ego-color);
}

.total,
.holder:hover .total {
    color: var(--skills-color);
}

.modifier {
    color: var(--qudzoo-color);
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .attribute-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 900px) {
    .container {
        max-height: 50vh;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.25rem;
    }

    .attribute-grid {
        display: flex;
        flex-direction: column;
    }

    .blurb {
        display: block;
        align-self: start;
        position: sticky;
        top: 0;
        padding: 0;
        margin: 0;
    }
}
