:host {
    --border-color-normal: var(--text-color-faded);
    --text-color-normal: var(--text-color-faded);
    --border-color-hover: var(--text-color);
    --text-color-hover: var(--text-color);
}

@keyframes flicker {
    0% {
        color: var(--text-color-normal);
        border-color: var(--border-color-normal);
    }
    33% {
        color: var(--text-color-hover);
        border-color: var(--border-color-hover);
    }
    66% {
        color: var(--text-color-normal);
        border-color: var(--border-color-normal);
    }
    100% {
        color: var(--text-color-hover);
        border-color: var(--border-color-hover);
    }
}

button {
    min-width: 15ch;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--border-color-normal);
    border-radius: 0;
    background-color: transparent;
    font-family: var(--qud-font);
    color: var(--text-color-normal);
    fill: var(--text-color-normal);
}

button:hover {
    background-color: var(--hover-darken);
    border-color: var(--border-color-hover);
    color: var(--text-color-hover);
    fill: var(--text-color-hover);
    cursor: pointer;
}

.flicker:hover {
    animation: 0.25s flicker forwards;
}

.thin {
    min-width: 20ch;
    padding: 0.25em 1.5rem;
}

.large {
    font-size: 1.25rem;
}

.minimal {
    min-width: 1ch;
}

.stretch {
    width: 100%;
}

.prominent {
    --border-color-normal: var(--text-color);
    --text-color-normal: var(--text-color);
}

.subtle {
    border-style: none;
}

.mutant {
    --border-color-hover: var(--mutation-color);
    --text-color-hover: var(--mutation-color);
}

.true-kin {
    --border-color-hover: var(--cybernetic-color);
    --text-color-hover: var(--cybernetic-color);
}

.skill {
    --border-color-hover: var(--skills-color);
    --text-color-hover: var(--skills-color);
}

.stat {
    --border-color-hover: var(--stat-color);
    --text-color-hover: var(--stat-color);
}

.strength {
    --border-color-hover: var(--strength-color);
    --text-color-hover: var(--strength-color);
}

.agility {
    --border-color-hover: var(--agility-color);
    --text-color-hover: var(--agility-color);
}

.toughness {
    --border-color-hover: var(--toughness-color);
    --text-color-hover: var(--toughness-color);
}

.willpower {
    --border-color-hover: var(--willpower-color);
    --text-color-hover: var(--willpower-color);
}

.intelligence {
    --border-color-hover: var(--intelligence-color);
    --text-color-hover: var(--intelligence-color);
}

.ego {
    --border-color-hover: var(--ego-color);
    --text-color-hover: var(--ego-color);
}
