img {
    position: relative;
    top: -9rem;
    z-index: -1;
}

.card {
    overflow-y: hidden;
    height: 9rem;
    width: 16rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 0;
    border-radius: 5px;
    text-decoration: none;
}

.overlay-container {
    background-color: var(--hover-darken);
}

.spacing-container {
    height: 5rem;
    transition: .5s;
    margin: 0;
}

.card-label {
    font-family: var(--qud-font);
    color: var(--text-color);
    height: 2rem;
    margin: 0;
    padding: .5rem 0 1.5rem;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    transition: .5s;
}

.card:hover {
    cursor: pointer;
}

.card:hover .spacing-container {
    height: 3rem;
    transition: .5s;
}

.card:hover .card-label {
    height: 4rem;
    font-size: 1.5rem;
    transition: .5s;
}