.container {
    height: 100%;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tab {
    background-color: rgba(25, 25, 25, 0.5);
    color: var(--text-color-dark);
    text-align: center;
    font-size: 1.125rem;
    border-radius: 0;
    border: none;
    padding: 1rem;
    font-family: var(--qud-font);
}

.selected {
    background: none;
    color: white;
}

.tab:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(25, 25, 25, 0.25);
}

.selected:hover {
    cursor: default;
    background: none;
}
