<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>A-F-F-I-N-E's Advice</title>
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="stylesheet" href="$assetsDir/styles/advice.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="A-F-F-I-N-E's Advice" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:url" content="https://www.qudzoo.com/advice" />
        <meta property="og:image" content="{{preview}}" />
        <meta property="og:description" content="This is a series of articles meant to compile my understanding and strategy for Caves of Qud. It's a wonderful game, but there's so much to know..." />
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <main>
            <section class="home-container content">
                {{ body | safe }}
            </section>
        </main>
        <hr />
        <advice-hub></advice-hub>
        <c-footer></c-footer>
    </body>
</html>