<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>Build Code Help</title>
        <link rel="stylesheet" href="$assetsDir/styles/advice.css" />
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="Build Code Help" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:url" content="https://www.qudzoo.com{{page.url}}" />
        <meta property="og:image" content="{{preview}}" />
        <meta property="og:description" content="Read this short article to learn how to add build codes from the Qudzoo to Caves of Qud." />
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <main>
            <section></section>
            <section class="content">{{ body | safe }}</section>
            
        <section></section>
        </main>
        <br />
        <c-footer></c-footer>
        <c-inspect-image></c-inspect-image>
        <c-sugar-injector></c-sugar-injector>
    </body>
</html>