<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>Combat Calculator</title>
        <link rel="stylesheet" href="$assetsDir/styles/advice.css" />
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="Combat Calculator" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:url" content="https://www.qudzoo.com{{page.url}}" />
        <meta property="og:image" content="{{preview}}" />
        <meta property="og:description" content="Simulate combat to compare builds." />
        <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <div class="combat-app">
            <combat-app></combat-app>
            <section class="content">
                {{ body | safe }}
            </section>
        </div>
        <c-footer></c-footer>
    </body>
</html>