<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>Error</title>
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="stylesheet" href="$assetsDir/styles/error.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <main>
            <section class="home-container">
                {{ body | safe }}
            </section>
        </main>
        <c-footer></c-footer>
    </body>
</html>