<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>qudzoo</title>
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="qudzoo" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:image" content="{{preview}}" />
        <meta property="og:url" content="https://www.qudzoo.com" />
        <meta property="og:description" content="From snapjaw zero to chrome pyramid hero; your one-stop shop for improving in Caves of Qud. Breakdowns of the most relevant layers of Qud by A-F-F-I-N-E." />
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <c-qudzoo-banner></c-qudzoo-banner>
        <c-advice-banner></c-advice-banner>
        <main>{{ body | safe }}</main>
        <c-footer></c-footer>
    </body>
</html>