<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>For Nerds</title>
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="stylesheet" href="$assetsDir/styles/advice.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="For Nerds" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:url" content="https://www.qudzoo.com/nerds" />
        <meta property="og:image" content="{{preview}}" />
        <meta property="og:description" content="Someone shared these site details with you so they also think you're a nerd." />
        {{lwr_resources | safe}}
    </head>
    <body>
        <c-header></c-header>
        <main>
            <section></section>
            <section class="content">{{ body | safe }}</section>
            <section id="desktop-contents">
                <div class="sidebar">
                    <advice-table-of-contents></advice-table-of-contents>
                </div>
            </section>
        </main>
        <c-footer></c-footer>
    </body>
</html>