<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>Quests</title>
        <link rel="stylesheet" href="$assetsDir/styles/global.css" />
        <link rel="stylesheet" href="$assetsDir/styles/advice.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="$assetsDir/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="$assetsDir/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$assetsDir/favicon/favicon-16x16.png">
        <link rel="manifest" href="$assetsDir/favicon/site.webmanifest">
        <meta property="og:title" content="Quests" />
        <meta property="og:site_name" content="The Qudzoo" />
        <meta property="og:url" content="https://www.qudzoo.com/quests" />
        <meta property="og:image" content="{{preview}}" />
    </head>
    <body>
        <c-header></c-header>
        <main>
            <section>
                <div class="sidebar">
                    <div>
                        <c-advice-articles></c-advice-articles>
                    </div>
                </div>
            </section>
            <section class="home-container">
                {{ body | safe }} {{ lwr_resources | safe }}
                <c-article-hub mode="quests"></c-article-hub>
            </section>
        </main>
        <c-footer></c-footer>
    </body>
</html>